.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
.body > *{
    width: 100%;
}
.aboutDiv{
    z-index: 0;
    background-image: url("fog-mnts.jfif");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleName{
    font-family: Script MT;
    color: rgb(63, 63, 226);
    font-size: 2.6em;
}
.yellowGreen{
    color:yellowgreen;
    font-size: .5em;
}
.aboutTitle{
    background: rgb(31,31,31);
    padding: .1em .5em;
    border-radius: .3em;
    font-weight: 900;
}
.stickyItem{
    box-shadow: 0 0px 20px rgb(48, 51, 68);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 115vh;
}
.aboutPhoto{
    background-image: url("clt2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.aboutDetails{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    border-top: solid 3px rgb(241, 206, 166);
    background-color: rgba(202, 176, 129, 0.25);  
    backdrop-filter: blur(8px);
}
.aboutTextDiv{
    width: 45em;
    padding: 1em 1em;
    background: linear-gradient(to left, #52492e, #41232f, #261a3a);
    border-radius: 3em;
    color:rgb(223, 212, 200);
    margin: 0 0 0 .5em;
    font-size: 1.3em;
    border: rgb(223, 196, 170) 2px solid;
}
.typeWriter{
    height: 1.5em;
}
.experienceTitleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.experienceTitle{
    background: white;
    padding: .1em .5em;
    border-radius: .3em;
    color: black;
    mix-blend-mode: screen;
    font-weight: 900;
}
.experienceDetails{
    display: flex;
    color:rgb(223, 212, 200);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    background-color: rgba(53, 32, 52, 0.678);  
    backdrop-filter: blur(8px);
    border-top: solid 3px rgb(240, 220, 192);
}
.workEdHolder{
    display: flex;
    width: 90%;
}
.edDiv{
    border-bottom: rgb(223, 212, 200) solid 1px;
}
.workDiv{
    border-bottom: rgb(223, 212, 200) solid 1px;
}
.experience{
    z-index: 3;
    background-image: url("coding.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stickyExp{
    height: 70vh;
}
.experienceList{
    width: 100%;
    margin: 1em 0;
}
.skill{
    background: linear-gradient(to left, #bbae2538, #83343467, #4d2c8179);
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5em;
    margin: .5em;
    border-radius: 1em;
}
.skillsDiv{
    Width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skillIcon{
    font-size: 3em;
}
.projectsTitle{
    background: white;
    padding: .1em .5em;
    border-radius: .3em;
    color: Black;
    mix-blend-mode: screen;
    font-weight: 900;
}
.projectDiv{
     z-index: 4;
    background-image: url("projects-two.jfif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projectsPhotoDiv{
    
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    height: 30vh;
}
.projectDetails{
    border-top: rgb(223, 196, 170) 2px solid;
    display: flex;
    color:rgb(223, 212, 200);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(187, 99, 77, 0.562);  
    backdrop-filter: blur(8px);
}
.projectHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 90%;
}
.project{
    display: flex;
    border-radius: 2em;
    border: 3px ridge wheat;
    justify-content: space-between;
    padding: 1em 2em;
    width: 90%;
    background: linear-gradient(to left, #615329, #41232f, #261a3a);;
}
.projectLinks{
    display: flex;
}
.link{
    color:rgb(235, 230, 225);
    background-color: rgb(65, 20, 65);
    position: relative;
    top: 0;
    left: 0;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5em;
    margin: .5em;
    border-radius: 1em;
    box-shadow: rgb(185, 170, 143) 3px 3px;
    transition: .2s linear;
}
.link:hover{
    box-shadow: rgb(155, 136, 102) 0px 0px;
    background-color: rgb(116, 28, 108);
    top: 3px;
    left: 3px;
}
.contactMeDiv{
    z-index: 5;
    height: 100vh;
    background-image: url("contactMe.jfif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactMeTitleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.contactMeTitle{
    background: black;
    padding: .1em .5em;
    border-radius: .3em;
    color: white;
    mix-blend-mode: multiply;
    font-weight: 900;
}
.contactMeBody{
    display: flex;
    color:rgb(236, 227, 217);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    background-color: rgba(154, 200, 243, 0.25);  
    backdrop-filter: blur(8px);
    border-top: rgb(134, 21, 21) 3px solid;
}
.contactTitle{
    margin: 2em 0;
    padding: 1em;
    background-color: rgb(244, 255, 253);
    color:rgb(59, 46, 46);
    box-shadow: 0 0 1em rgb(128, 16 ,16);
    border-radius: .5em;
}
.contactColumnsHolder{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.contactLeftDiv{
    border-right: rgb(134, 21, 21) double 8px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contactRightDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.iconContainer{
    display: flex;
    align-items: center;
    justify-content: flex;
    background-color: rgb(244, 255, 253);
    color:rgb(59, 46, 46);
    box-shadow: 0 0 1em rgb(168, 92, 92);
    border-radius: .5em;
    padding: 0 .5em;
}
.contactIcon{
  margin: .5em;
  font-size: 1.5em;
}
.contactLink{
  text-decoration: underline;
  cursor: pointer;
}